<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="study.android.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity android:name=".MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="study.android.webkit.WebView.WebViewActivity"
                  android:label="@string/WebViewActivity">
                <category android:name="android.intent.category.HOME" />  
                <category android:name="android.intent.category.DEFAULT" />  
        </activity>
        
        <activity android:name="study.android.content.pm.PMActivity"
                  android:label="@string/PMActivity">
        </activity>
        <activity android:name="study.android.content.pm.PMActivity_ListView"
                  android:label="@string/PMActivity">
        </activity>
        
        <activity android:name=".HandlerActivity"
                  android:label="@string/HandlerActivity">
        </activity>
        <activity android:name="study.android.surfaceview.SurfaceViewActivity"
                  android:label="@string/SurfaceViewActivity">
        </activity>
        <activity android:name="study.android.widget.ListViewActivity"
                  android:label="@string/ListViewActivity">
        </activity>
    </application>

</manifest>
